body {
    margin: 0 auto;
    margin-top: 2rem;
    background-image: url(/images/movies.jpg);
    background-size: 1600px 1000px;
}

.page {
    width: 80%;
    height: 800px;
    justify-content: center;
    margin: 0 auto;
    /* padding-top: 1rem; */
    border: 1px solid rgb(255, 255, 255, 0.3);
    border-radius: 8px;
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
}

.formBox {
    display: flex;
    width: 100%;
    height: 180px;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
}

h1 {
    color: rgb(0, 0, 0, 0.6);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 6rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.searchBar {
    height: 30px;
    width: 300px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255, 0.5);
    color: rgb(0, 0, 0, 0.8); 
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0, 0.6);
}
.submit {
    width: 307px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.container {
    color: white;
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: auto;
    justify-content: space-evenly;
}

.container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0, 0.6);
    transition: transform 250ms ease-out;
    padding-top: 0;
}

img {
    height: 213px;
    width: 150px;
    margin-top: 1.5rem;
    margin-bottom: 0.7rem;
}

.container div:hover {
    transform: scale(1.1);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.7);
}


@media only screen and (max-width: 1000px) {
    .page {
        display: flex;
        height: 2500px;
        /* flex-direction: column; */
        flex-wrap: wrap;
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: 2000px;
    }
    
}