body {
    margin: 0 auto;
    margin-top: 2rem;
    background-image: url(/images/movies.jpg);
    background-size: 1600px 1000px;
}

.page {
    width: 80%;
    height: 800px;
    justify-content: center;
    margin: 0 auto;
    /* padding-top: 1rem; */
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(255, 255, 255, 0.8);
}

.formBox {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Grape Nuts', cursive;
    font-size: 5rem;
    margin-top: 1rem;
}

.submit {
    width: 149px;
}

.container {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: auto;
    justify-content: space-evenly;
}

img {
    height: 213px;
    width: 150px;
    margin-bottom: 1.5rem;
}