body {
    margin: 0 auto;
    margin-top: 2rem;
}

.page {
    width: 80%;
    height: 700px;
    justify-content: center;
    margin: 0 auto;
    padding-top: 1rem;
    border: 1px solid black;
    border-radius: 15px;
}

.formBox {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.submit {
    width: 149px;
}

.container {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: auto;
    justify-content: space-evenly;
}

img {
    height: 185px;
    width: 130px;
    margin-bottom: 1.5rem;
}